* {
    font-family: 'Courier';
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

ul {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin: 1rem;
    padding: 0.3rem;
    background-color: rgba(235, 223, 208, 0.3);
    display: inline-block;
    border-radius: 0.2rem;
}

a:hover {
    color: #0E1F1E; 
}

a {
    font-size: 1.2rem;
    color: #EDDEAC;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url("../static/fondo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.container-items {
    width: 100%;
    height: 46vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 100%;
}

.item-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item>figure>img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 15rem;
    border-radius: 0.5rem;
    text-align: center;
    filter: drop-shadow(0.15rem 0.15rem 0.2rem #EEE2D5) invert(10%);
    max-width: 50%;
    max-height: 50%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    width: 20rem;
    background-color: #060300;
    color: #EDDEAC;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

figure {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
